#can1{border:red double 10px;position:absolute;left:50px;
top:50px;}

#but1{position:absolute;left:900px;top:350px;border:green solid 5px;}
#but2{position:absolute;left:900px;top:400px;border:green solid 5px;}
#bod1{ background-color:rgb(150,50,100);}
#div1{position:absolute;left:900px;top:50px;border:green solid 8px;height:300px;width:200px;padding:5px;}